
    <!-- Page Preloder -->
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
  <section class="shop spad">
  <div class="container">
    <div class="row">

      <!-- SIDEBAR -->
      <div class="col-lg-3 col-md-3">
        <div class="shop__sidebar">

          <%= search_form_for @q, url: collection_path(@collection), method: :get do |f| %>

            <!-- CATEGORIES -->
            <div class="sidebar__categories">
              <div class="section-title">
                <h4>Categories</h4>
              </div>

              <div class="categories__accordion">
                <div class="accordion" id="accordionExample">
                  <% @collections.each_with_index do |collection, idx| %>
                    <div class="card">
                      <div class="card-heading <%= 'active' if idx.zero? %>">
                        <a data-toggle="collapse"
                           data-target="#collapse_<%= collection.name.parameterize %>">
                          <%= collection.name %>
                        </a>
                      </div>

                      <div id="collapse_<%= collection.name.parameterize %>"
                           class="collapse <%= 'show' if idx.zero? %>"
                           data-parent="#accordionExample">
                        <div class="card-body">
                          <ul>
                            <% collection.categories.each do |category| %>
                             <li class="<%= 'selected' if params.dig(:q, :category_id_eq).to_i == category.id %>">
  <%= link_to category.name,
      collection_path(
        @collection,
        q: params.fetch(:q, ActionController::Parameters.new)
                 .permit!
                 .to_h
                 .merge(category_id_eq: category.id)
      ) %>
</li>

                            <% end %>
                          </ul>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

            <!-- PRICE FILTER -->
            <div class="sidebar__filter">
              <div class="section-title">
                <h4>Shop by price</h4>
              </div>

              <div class="filter-range-wrap">
                <div class="range-slider">
                  <div class="price-input">
                    <p>Price:</p>
                    <%= f.text_field :product_variant_combinations_price_gteq,
  placeholder: "Min Price",
  class: "price-filter",
  value: params.dig(:q, :product_variant_combinations_price_gteq) %>

<%= f.text_field :product_variant_combinations_price_lteq,
  placeholder: "Max Price",
  class: "price-filter",
  value: params.dig(:q, :product_variant_combinations_price_lteq) %>

                  </div>
                </div>
              </div>
            </div>

            <!-- SIZE FILTER -->
            <div class="sidebar__sizes">
              <div class="section-title">
                <h4>Shop by size</h4>
              </div>

              <div class="size__list">
                <% ["XXS","XS","S","M","L","XL"].each do |size| %>
  <label>
    <%= check_box_tag "q[product_variant_combinations_size_in][]", size, Array(params.dig(:q, :product_variant_combinations_size_in)).include?(size), class: "size-filter" %>
    <span class="checkmark"></span>
    <%= size %>
  </label>
<% end %>
              </div>
            </div>

            <!-- COLOR FILTER -->
            <div class="sidebar__color">
              <div class="section-title">
                <h4>Shop by color</h4>
              </div>

              <div class="size__list color__list">
               <% ["Black","White","Red","Grey","Blue","Beige","Green","Yellow"].each do |color| %>
  <label>
    <%= check_box_tag "q[product_variant_combinations_color_in][]", color, Array(params.dig(:q, :product_variant_combinations_color_in)).include?(color), class: "color-filter" %>
    <span class="checkmark"></span>
    <%= color %>
  </label>
<% end %>

              </div>
            </div>

          <% end %>
        </div>
      </div>

      <!-- PRODUCTS GRID -->
      <div class="col-lg-9 col-md-9">
  <div class="row" id="products-grid">

    <% @products.each do |product| %>
      <% variant = product.product_variant_combinations.first %>

      <div class="col-lg-4 col-md-6 product-item">
        <div class="product__item">

          <div class="product__item__pic set-bg"
               data-setbg="<%= url_for(product.featured_image) if product.featured_image&.attached? %>">

            <% if variant&.compared_price.present? && variant.compared_price > variant.price %>
              <div class="label">Sale</div>
            <% elsif product.created_at >= 7.days.ago %>
              <div class="label new">New</div>
            <% end %>

            <ul class="product__hover">
              <% if product.featured_image&.attached? %>
                <li>
                  <a href="<%= url_for(product.featured_image) %>" class="image-popup">
                    <span class="arrow_expand"></span>
                  </a>
                </li>
              <% end %>
              <li><a href="#"><span class="icon_heart_alt"></span></a></li>
              <li><a href="#"><span class="icon_bag_alt"></span></a></li>
            </ul>
          </div>

          <div class="product__item__text">
            <h6><%= link_to product.name, product_path(product) %></h6>

            <div class="rating">
              <% 5.times do %>
                <i class="fa fa-star"></i>
              <% end %>
            </div>

            <% if variant.present? %>
              <div class="product__price">
                $ <%= number_with_precision(variant.price, precision: 2) %>

                <% if variant.compared_price.present? && variant.compared_price > variant.price %>
                  <span>$ <%= number_with_precision(variant.compared_price, precision: 2) %></span>
                <% end %>
              </div>
            <% else %>
              <div class="product__price">Price not available</div>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>


    </div>
  </div>
</section>


    
    <script>
   
  document.querySelectorAll(
    '.size-filter, .color-filter, .price-filter'
  ).forEach(el => {
    el.addEventListener('change', () => el.form.submit())
  })
    </script>
   
