<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    
</head>

<body>
    <!-- Page Preloder -->
     <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li>
    <%= link_to wishlists_path do %>
      <span class="icon_heart_alt"></span>
      <div id="wishlist-count">
  <% if wishlist_count > 0 %>
    <div class="tip"><%= wishlist_count %></div>
  <% end %>
</div>
    <% end %>
  </li>

  <!-- Cart -->
  <li>
    <%= link_to carts_path do %>
      <span class="icon_bag_alt"></span>
      <% if cart_count > 0 %>
        <div class="tip"><%= cart_count %></div>
      <% end %>
    <% end %>
  </li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logout-link" %>
<% else %>
  <%= link_to "Login", new_user_session_path, class: "login-link" %>
  <%= link_to "Register", new_user_registration_path, class: "register-link" %>
<% end %>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                     <%= link_to root_path do %>
                        <%= image_tag 'logo.png', alt: 'Logo' %>
                        <% end%>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"> <%= link_to "Home", root_path %></li>
                            <li><%= link_to "Women's", collection_path(Collection.find_by(name: "Womens").id) %></li>
                            <li><%= link_to "Men's", collection_path(Collection.find_by(name: "Mens").id) %></li>
                            <li><%= link_to "Shop", collection_path(Collection.find_by(name: "All Products").id) %></li>
                            <li><a href="#">Pages</a> 
                                <ul class="dropdown">
                                    <li><a href="./product-details.html">Product Details</a></li>
                                    <li><a href="./shop-cart.html">Shop Cart</a></li>
                                    <li><a href="./checkout.html">Checkout</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                          <% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logout-link" %>
<% else %>
  <%= link_to "Login", new_user_session_path, class: "login-link" %>
  <%= link_to "Register", new_user_registration_path, class: "register-link" %>
<% end %>
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                           <li>
    <%= link_to wishlists_path do %>
      <span class="icon_heart_alt"></span>
      <% if wishlist_count > 0 %>
        <div class="tip"><%= wishlist_count %></div>
      <% end %>
    <% end %>
  </li>

  <!-- Cart -->
  <li>
    <%= link_to carts_path do %>
      <span class="icon_bag_alt"></span>
      <% if cart_count > 0 %>
        <div class="tip"><%= cart_count %></div>
      <% end %>
    <% end %>
  </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg"
                    data-setbg="<%= asset_path('categories/category-1.jpg') %>">
                    <div class="categories__text">
                        <h1>Women’s fashion</h1>
                        <% collection = Collection.find_by(name: "Womens") %>
                        <p><%= collection.description %></p>
                        <%= link_to "shop now", collection_path(collection.id) %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="<%= asset_path('categories/category-2.jpg') %>">
                            <div class="categories__text">
                                <h4>Men’s fashion</h4>
                                <% collection = Collection.find_by(name: "Mens") %>
                                <p><%= collection.products.count %> items</p>
                                <%= link_to "shop now", collection_path(collection.id) %>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="<%= asset_path('categories/category-3.jpg') %>">
                            <div class="categories__text">
                                <h4>Kid’s fashion</h4>
                                <% collection = Collection.find_by(name: "Kids") %>
                                <p><%= collection.products.count %> items</p>
                               <%= link_to "shop now", collection_path(collection.id) %>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="<%= asset_path('categories/category-4.jpg') %>">
                            <div class="categories__text">
                                <h4>Cosmetics</h4>
                                <p>159 items</p>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="<%= asset_path('categories/category-5.jpg') %>">
                            <div class="categories__text">
                                <h4>Accessories</h4>
                                <p>792 items</p>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New product</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".women">Women’s</li>
                    <li data-filter=".men">Men’s</li>
                    <li data-filter=".kid">Kid’s</li>
                    <li data-filter=".accessories">Accessories</li>
                    <li data-filter=".cosmetic">Cosmetics</li>
                </ul>
            </div>
        </div>
       <div class="row property__gallery">
      <% @all_products.each do |product| %>
        <% css_classes = ["mix"] %>
        <% product.collections.each do |c| %>
          <% css_classes << c.name.downcase.singularize %>
        <% end %>

        <div class="col-lg-3 col-md-4 col-sm-6 <%= css_classes.join(" ") %>">
          <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="<%= url_for(product.featured_image) if product.featured_image.attached? %>">
              <div class="label new">New</div>
              <ul class="product__hover">
                <li>
                  <a href="<%= url_for(product.featured_image) if product.featured_image.attached? %>" class="image-popup">
                    <span class="arrow_expand"></span>
                  </a>
                </li>

                <%# Wishlist button %>
                <li>
                  <a href="#" class="wishlist-heart-btn" data-product-id="<%= product.id %>" data-variant-id="<%= product.product_variant_combinations.first.id %>">
                    <span class="icon_heart_alt"></span>
                  </a>
                </li>

                <%# Add to cart button %>
                <li>
                  <%= button_to line_items_path(product_variant_combination_id: product.product_variant_combinations.first.id, quantity: 1), method: :post, class: 'btn-add-cart' do %>
                    <span class="icon_bag_alt"></span>
                  <% end %>
                </li>
              </ul>
            </div>

            <div class="product__item__text">
              <h6><%= link_to product.name, product_path(product) %></h6>
              <div class="rating">
                <% 5.times do %>
                  <i class="fa fa-star"></i>
                <% end %>
              </div>
              <div class="product__price">$<%= product.product_variant_combinations.first.price %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- Product Section End -->

<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="<%= asset_path('banner/banner-1.jpg') %>">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Trend Section Begin -->
<section class="trend spad">
  <div class="container">
    <div class="row">

      <% { "Hot Trends" => @hot_trends_products,
           "Best Seller" => @best_seller_products,
           "Feature" => @feature_products }.each do |title, products| %>

        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="trend__content">
            <div class="section-title">
              <h4><%= title %></h4>
            </div>

            <% products.each do |product| %>
              <%= render partial: "products/trend_item", locals: { product: product } %>
            <% end %>

          </div>
        </div>

      <% end %>

    </div>
  </div>
</section>


<!-- Trend Section End -->

<!-- Discount Section Begin -->
<section class="discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img src="<%= image_path('discount.jpg') %>" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                    <div class="discount__text__title">
                        <span>Discount</span>
                        <h2>Summer 2019</h2>
                        <h5><span>Sale</span> 50%</h5>
                    </div>
                    <div class="discount__countdown" id="countdown-time">
                        <div class="countdown__item">
                            <span>22</span>
                            <p>Days</p>
                        </div>
                        <div class="countdown__item">
                            <span>18</span>
                            <p>Hour</p>
                        </div>
                        <div class="countdown__item">
                            <span>46</span>
                            <p>Min</p>
                        </div>
                        <div class="countdown__item">
                            <span>05</span>
                            <p>Sec</p>
                        </div>
                    </div>
                    <a href="#">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="<%= image_path('instagram/insta-1.jpg')%>">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="<%= image_path('instagram/insta-2.jpg')%>">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="<%= image_path('instagram/insta-3.jpg')%>">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="<%= image_path('instagram/insta-4.jpg')%>">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="<%= image_path('instagram/insta-5.jpg')%>">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="<%= image_path('instagram/insta-6.jpg')%>">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><%= image_tag 'logo.png', alt: 'Logo' %></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="<%= image_path('payment/payment-1.png')%>" alt=""></a>
                        <a href="#"><img src="<%= image_path('payment/payment-2.png')%>" alt=""></a>
                        <a href="#"><img src="<%= image_path('payment/payment-3.png')%>" alt=""></a>
                        <a href="#"><img src="<%= image_path('payment/payment-4.png')%>" alt=""></a>
                        <a href="#"><img src="<%= image_path('payment/payment-5.png')%>" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Home Page Wishlist Script -->
<script>
document.addEventListener("DOMContentLoaded", function() {
  const wishlistButtons = document.querySelectorAll(".wishlist-heart-btn");
  console.log("Wishlist buttons found:", wishlistButtons.length);

  wishlistButtons.forEach(button => {
    button.addEventListener("click", function(e) {
      e.preventDefault();

      const variantId = this.getAttribute("data-variant-id");
      const productId = this.getAttribute("data-product-id");

      console.log("Adding product variant to wishlist:", variantId);

      const csrfToken = document.querySelector('meta[name="csrf-token"]')?.content;

      fetch("/wishlists", {
        method: "POST",
        headers: {
          "X-Requested-With": "XMLHttpRequest",
          "Accept": "application/json",
          "Content-Type": "application/json",
          "X-CSRF-Token": csrfToken
        },
        body: JSON.stringify({
          product_variant_combination_id: variantId
        })
      })
     .then(data => {
  console.log("Added to wishlist successfully");

  // Visual feedback - highlight the heart
  this.classList.add("active");

  // Update the wishlist count dynamically
  const wishlistCountDiv = document.getElementById("wishlist-count");
  const newCount = data.wishlist_count; // assuming your controller returns { wishlist_count: n }
  
  if (newCount > 0) {
    wishlistCountDiv.innerHTML = `<div class="tip">${newCount}</div>`;
  } else {
    wishlistCountDiv.innerHTML = '';
  }
})

    });
  });
});
</script>
<!-- Home Page Wishlist Script End -->

<!-- Js Plugins -->

</body>