 <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li>
    <%= link_to wishlists_path do %>
      <span class="icon_heart_alt"></span>
      <% if wishlist_count > 0 %>
        <div class="tip"><%= wishlist_count %></div>
      <% end %>
    <% end %>
  </li>

  <!-- Cart -->
  <li>
    <%= link_to carts_path do %>
      <span class="icon_bag_alt"></span>
      <% if cart_count > 0 %>
        <div class="tip"><%= cart_count %></div>
      <% end %>
    <% end %>
  </li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                     <%= link_to root_path do %>
                        <%= image_tag 'logo.png', alt: 'Logo' %>
                        <% end%>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"> <%= link_to "Home", root_path %></li>
                            <li><%= link_to "Women's", root_path %></li>
                            <li><%= link_to "Men's", root_path %></li>
                            <li><%= link_to "Shop", collection_path(10) %></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html">Product Details</a></li>
                                    <li><a href="./shop-cart.html">Shop Cart</a></li>
                                    <li><a href="./checkout.html">Checkout</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                          <%= link_to "Login", new_user_session_path %>
                            <%= link_to "Register", new_user_registration_path %>
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                           <li>
    <%= link_to wishlists_path do %>
      <span class="icon_heart_alt"></span>
      <% if wishlist_count > 0 %>
        <div class="tip"><%= wishlist_count %></div>
      <% end %>
    <% end %>
  </li>

  <!-- Cart -->
  <li>
    <%= link_to carts_path do %>
      <span class="icon_bag_alt"></span>
      <% if cart_count > 0 %>
        <div class="tip"><%= cart_count %></div>
      <% end %>
    <% end %>
  </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>