<div class="trend__item">
  <div class="trend__item__pic">
    <% if product.featured_image.attached? %>
      <%= image_tag product.featured_image, alt: product.name %>
    <% else %>
      <img src="img/default-product.jpg" alt="<%= product.name %>">
    <% end %>
  </div>

  <div class="trend__item__text">
    <h6><%= product.name %></h6>

    <div class="rating">
      <% 5.times do %>
        <i class="fa fa-star"></i>
      <% end %>
    </div>

    <div class="product__price">
      $<%= number_with_precision(product.price, precision: 2) %>

      <% if product.compare_price.present? %>
        <span class="compare-price">
          $<%= number_with_precision(product.compare_price, precision: 2) %>
        </span>
      <% end %>
    </div>
  </div>
</div>
