 <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="#"><%= @product.category.name %></a>
                        <span><%= @product.name %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
  <div class="container">
    <div class="row">

      <!-- Product Images -->
      <div class="col-lg-6">
        <div class="product__details__pic">
          <div class="product__details__pic__left product__thumb nice-scroll">
          <div class="product__details__pic__item">
  <% if @product.featured_image.attached? %>
   <%= image_tag(
      @product.featured_image.variant(resize_to_limit: [400, 400]).processed,
      alt: @product.name,
      loading: "lazy",
      id: "main-product-image",
      height: 100,
      width: 100,
) if @product.featured_image.attached? %>
  <% else %>
    <%= image_tag "default-product.jpg",
          alt: @product.name,
          id: "main-product-image",
          class: "img-fluid" %>
  <% end %>
</div>
            
          </div>

          <div class="product__details__slider__content">
            <div class="product__details__pic__slider owl-carousel">
              <div class="product__details__pic__item">
  <% if @product.featured_image.attached? %>
     <%= image_tag(
      @product.featured_image.variant(resize_to_limit: [400, 400]).processed,
      alt: @product.name,
      loading: "lazy",
      id: "main-product-image",
      
) if @product.featured_image.attached? %>
  <% else %>
    <%= image_tag "default-product.jpg",
          alt: @product.name,
          id: "main-product-image",
          class: "img-fluid" %>
  <% end %>
</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Product Info -->
      <div class="col-lg-6">
        <div class="product__details__text">
          <h3><%= @product.name %> <span>Brand: <%= @product.brand %></span></h3>

         
          <% default_combination = @variant_combinations.first %>

         <div class="product__details__price">
          $ <div id="product-price" style="display:inline"><%= default_combination.price %></div>

          <span id="compared-price">
            <% if default_combination.compared_price.present? &&
                  default_combination.compared_price > default_combination.price %>
              $ <%= default_combination.compared_price %>
            <% end %>
          </span>
        </div>

          <p><%= @product.short_description %></p>

          <!-- Add to Cart Form -->
          <div class="product__details__button">
            <%= form_with url: line_items_path, method: :post, local: true, id: "add-to-cart-form" do |f| %>
              <div class="quantity">
                <span>Quantity:</span>
                <div class="pro-qty">
                  <%= f.number_field :quantity, value: 1, min: 1, class: "quantity-input" %>
                </div>
              </div>

              <!-- Hidden field for variant -->
             <%= f.hidden_field :product_variant_combination_id,
      id: "selected-variant-id",
      value: default_combination.id %>


              <%= f.submit "Add to cart", class: "cart-btn" %>
<% end %>
             <ul>
  <li>
    <a class="wishlist-btn <%= 'active' if @wishlist_product_ids.include?(@product.id) %>"
       data-product-id="<%= @product.id %>"
       style="cursor:pointer">
      <span class="icon_heart_alt"></span>
    </a>
  </li>
</ul>
            
          </div>
      <% selected_variant_ids = default_combination.product_variants.pluck(:id) %>

          <!-- Product Variants -->
          <div class="product__details__widget">
            <ul>
              <li>
                <span>Available color:</span>
                <div class="color__checkbox">
                  <% (@variant_options["Color"] || []).each do |option| %>
                    <label>
                      <input type="radio"
       name="color"
       value="<%= option.id %>"
       class="variant-option"
       data-type="Color"
       <%= "checked" if selected_variant_ids.include?(option.id) %>>

                      <span class="checkmark <%= option.value.downcase %>-bg"></span>
                    </label>
                  <% end %>
                </div>
              </li>
              
              <li>
                <span>Available size:</span>
                <div class="size__btn">
                  <% (@variant_options["Size"] || []).each do |option| %>
                    <label>
                     <input type="radio"
       name="size"
       value="<%= option.id %>"
       class="variant-option"
       data-type="Size"
       <%= "checked" if selected_variant_ids.include?(option.id) %>>
        
                      <%= option.value %>
                    </label>
                  <% end %> 
                </div>
              </li>
              <li>
                <span>Promotions:</span>
                <p>Free shipping</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Tabs -->
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <h6>Description</h6>
              <p><%= @product.description %></p>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
              <h6>Specification</h6>
              <p><%= @product.specification %></p>
            </div>
            <div class="tab-pane" id="tabs-3" role="tabpanel">
              <h6>Reviews ( 2 )</h6>
              <p>Sample reviews here...</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Related Products -->
           
    </div><div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                 <% @related_products.each do |product| %>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item" data-url="<%= product_path(product) %>">
                        <div class="product__item__pic set-bg" data-setbg="<%= rails_representation_url(
  product.featured_image.variant(resize_to_limit: [500,500]).processed
) if product.featured_image.attached? %>">
                            <div class="label new">New</div>
                              <ul class="product__hover">
                <li>
                  <a href="<%= url_for(product.featured_image) if product.featured_image.attached? %>" class="image-popup">
                    <span class="arrow_expand"></span>
                  </a>
                </li>

                
 <li>
    <a  class="wishlist-btn" data-product-id="<%= product.id %>">
      <span class="icon_heart_alt"></span>
    </a>
  </li>

  <!-- Add to cart -->
  <li>
    <a  class="add-to-cart-btn" data-variant-id="<%= product.default_variant_combination.id %>">
      <span class="icon_bag_alt"></span>
    </a>
  </li>
                <%# Wishlist button %>
               
                <%# Add to cart button %>
            
              </ul>
                        </div>
                        <div class="product__item__text">
                             <h6><%= link_to product.name, product_path(product) %>
</h6>
                            <div class="rating">
              
              </div>
                            <% combo = product.product_variant_combinations.first %>

<div class="product__price">
 $ <%= combo.price if combo %>

  <% if combo&.compared_price.present? &&
        combo.compared_price > combo.price %>
    <span>$ <%= combo.compared_price %></span>
  <% end %>
</div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
  </div>
</section>
<script>
  window.wishlistProductIds = <%= raw(@wishlist_product_ids.to_json) %>;
</script>

<script>

   window.variantCombinations = <%= raw @variant_combinations.map { |pvc|
    {
      id:             pvc.id,
      price:          pvc.price,
      compared_price: pvc.compared_price,
      image_url:      pvc.image.attached? ? url_for(pvc.image) : nil,
      product_variant_ids: pvc.product_variant_ids
    }
  }.to_json %>;
  </script>

  <script>
  document.addEventListener("turbolinks:load", function () {

  const selectedOptions = {};

  document.querySelectorAll(".variant-option").forEach(input => {

    if (input.checked) {
      selectedOptions[input.dataset.type] = parseInt(input.value);
    }

    input.addEventListener("change", () => {
      selectedOptions[input.dataset.type] = parseInt(input.value);
      updateVariant();
    });

  });

  function updateVariant() {

    const optionIds = Object.values(selectedOptions);
    if (optionIds.length === 0) return;

    const match = window.variantCombinations.find(combo => {
      return optionIds.every(id => combo.product_variant_ids.includes(id));
    });

    if (!match) return;

    document.getElementById("product-price").innerText =
      parseFloat(match.price).toFixed(2);

    const compared = document.getElementById("compared-price");

    if (match.compared_price &&
        parseFloat(match.compared_price) > parseFloat(match.price)) {

      compared.innerText = `$ ${parseFloat(match.compared_price).toFixed(2)}`;
      compared.style.display = "inline";

    } else {

      compared.innerText = "";
      compared.style.display = "none";

    }

    document.getElementById("selected-variant-id").value = match.id;

    if (match.image_url) {
      document.querySelectorAll("#main-product-image").forEach(img => {
        img.src = match.image_url;
      });
    }

  }

  updateVariant();

});
</script>
<style>


.wishlist-btn .icon_heart_alt {
  color: #999;
  transition: color 0.2s;
}

.wishlist-btn.active .icon_heart_alt,
.wishlist-btn:hover .icon_heart_alt {
  color: red;
}
</style>
