 <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="#"><%= @product.category.name %></a>
                        <span><%= @product.name %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
  <div class="container">
    <div class="row">

      <!-- Product Images -->
      <div class="col-lg-6">
        <div class="product__details__pic">
          <div class="product__details__pic__left product__thumb nice-scroll">
          <div class="product__details__pic__item">
  <% if @product.featured_image.attached? %>
    <%= image_tag @product.featured_image,
          alt: @product.name,
          id: "main-product-image",
          class: "img-fluid" %>
  <% else %>
    <%= image_tag "default-product.jpg",
          alt: @product.name,
          id: "main-product-image",
          class: "img-fluid" %>
  <% end %>
</div>
            
          </div>

          <div class="product__details__slider__content">
            <div class="product__details__pic__slider owl-carousel">
              <div class="product__details__pic__item">
  <% if @product.featured_image.attached? %>
    <%= image_tag @product.featured_image,
          alt: @product.name,
          id: "main-product-image",
          class: "img-fluid" %>
  <% else %>
    <%= image_tag "default-product.jpg",
          alt: @product.name,
          id: "main-product-image",
          class: "img-fluid" %>
  <% end %>
</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Product Info -->
      <div class="col-lg-6">
        <div class="product__details__text">
          <h3><%= @product.name %> <span>Brand: <%= @product.brand %></span></h3>

          <div class="rating">
            <% 5.times do %>
              <i class="fa fa-star"></i>
            <% end %>
            <span>( 138 reviews )</span>
          </div>

          <% default_combination = @variant_combinations.first %>

         <div class="product__details__price">
          $ <div id="product-price" style="display:inline"><%= default_combination.price %></div>

          <span id="compared-price">
            <% if default_combination.compared_price.present? &&
                  default_combination.compared_price > default_combination.price %>
              $ <%= default_combination.compared_price %>
            <% end %>
          </span>
        </div>

          <p><%= @product.short_description %></p>

          <!-- Add to Cart Form -->
          <div class="product__details__button">
            <%= form_with url: line_items_path, method: :post, local: true, id: "add-to-cart-form" do |f| %>
              <div class="quantity">
                <span>Quantity:</span>
                <div class="pro-qty">
                  <%= f.number_field :quantity, value: 1, min: 1, class: "quantity-input" %>
                </div>
              </div>

              <!-- Hidden field for variant -->
             <%= f.hidden_field :product_variant_combination_id,
      id: "selected-variant-id",
      value: default_combination.id %>


              <%= f.submit "Add to cart", class: "cart-btn" %>
<% end %>
              <ul>
  <li>
    <%= button_to wishlist_items_path(product_id: @product.id),
              method: :post,
              remote: true,
              class: "wishlist-btn",
              form: { data: { turbo: false } } do %>
  <span class="icon_heart_alt"></span>
<% end %>

  </li>
  <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
</ul>
            
          </div>

          <!-- Product Variants -->
          <div class="product__details__widget">
            <ul>
              <li>
                <span>Available color:</span>
                <div class="color__checkbox">
                  <% (@variant_options["Color"] || []).each do |option| %>
                    <label>
                      <input type="radio" name="color" value="<%= option.id %>" class="variant-option" data-type="Color">
                      <span class="checkmark <%= option.value.downcase %>-bg"></span>
                    </label>
                  <% end %>
                </div>
              </li>
              
              <li>
                <span>Available size:</span>
                <div class="size__btn">
                  <% (@variant_options["Size"] || []).each do |option| %>
                    <label>
                      <input type="radio" name="size" value="<%= option.id %>" class="variant-option" data-type="Size">
                      <%= option.value %>
                    </label>
                  <% end %>
                </div>
              </li>
              <li>
                <span>Promotions:</span>
                <p>Free shipping</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Tabs -->
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <h6>Description</h6>
              <p><%= @product.description %></p>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
              <h6>Specification</h6>
              <p><%= @product.specification %></p>
            </div>
            <div class="tab-pane" id="tabs-3" role="tabpanel">
              <h6>Reviews ( 2 )</h6>
              <p>Sample reviews here...</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Related Products -->
      <div class="col-lg-12 text-center">
        <div class="related__title">
          <h5>RELATED PRODUCTS</h5>
        </div>
      </div>

      <% @related_products.each do |product| %>
        <div class="col-lg-4 col-md-6">
         
            <div class="product__item__pic set-bg" data-setbg="<%= url_for(product.featured_image) if product.featured_image.attached? %>">
            
            </div>

            <div class="product__item__text">
              <h6><a href="<%= product_path(product) %>"><%= product.name %></a></h6>
              <div class="rating">
                <% 5.times do %>
                  <i class="fa fa-star"></i>
                <% end %>
              </div>
              <% combo = product.product_variant_combinations.first %>

<div class="product__price">
 $ <%= combo.price if combo %>

  <% if combo&.compared_price.present? &&
        combo.compared_price > combo.price %>
    <span>$ <%= combo.compared_price %></span>
  <% end %>
</div>

            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</section>

<script>

  window.variantCombinations = <%= raw @variant_combinations.to_json(
    only: [:id, :price, :compared_price],
    include: {
      product_variants: {
        only: [:id],
        methods: [:variant_type]
      }
    }
  ) %>;
  </script>

  <script>



  const selectedOptions = {};

  document.querySelectorAll(".variant-option").forEach(input => {
    input.addEventListener("change", () => {
      selectedOptions[input.dataset.type] = parseInt(input.value);
      updateVariant();
    });
  });

  function updateVariant() {
    const optionIds = Object.values(selectedOptions);

    // Require all options (Color + Size)
    if (optionIds.length < 2) return;

    const match = window.variantCombinations.find(combination => {
      const comboOptionIds = combination.product_variants.map(o => o.id);
      return optionIds.every(id => comboOptionIds.includes(id));
    });

    if (!match) return;

    // Update price
    document.getElementById("product-price").innerText = match.price;

    const compared = document.getElementById("compared-price");
    
      compared.innerText = `$ ${match.compared_price}`;
      compared.style.display = "inline";
   
    // Update hidden variant ID
    document.getElementById("selected-variant-id").value = match.id;
  }



</script>
